<html>


<body>
	<h3>${title}</h3>
	
	<HR WIDTH=80% align=left>
    
    <table>
    
	    <tr>
	    	<td><b>Author:</b><td><td>${author}</td>    
	    </tr>
	    <tr>
	    	<td><b># Invoice:</b><td><td>${fatura.codigoFatura}</td>    
	    </tr>		
		<tr>
	    	<td><b>MSA:</b><td><td>${fatura.dealFiscal.msa.nomeMsa}</td>    
	    </tr>
		<tr>
	    	<td><b>Invoice Date:</b><td><td>${dataPrevisao}</td>    
	    </tr>
	    <tr>
	    	<td><b>Cancel Date:</b><td><td>${dataCancelamento}</td>    
	    </tr>
	    <tr>
	    	<td><b>Status:</b><td><td>${status}</td>    
	    </tr>
	    <tr>
	    	<td><b>Reason:</b><td><td>${fatura.textoRazaoCancelamento}</td>    
	    </tr>
	    
     </table>
<body>


</html>