<html>

<body>
    <b>${description}</b><br />
    <b>${description2}</b><br /><br />

    <table WIDTH="100%" CELLSPACING="0" CELLPADDING="1" BORDER="1">
	  <tr>
		<th>&nbsp;</th>
		<th align="left">Status</th>
		<th align="left">Profile</th>
		<th align="center">Stage</th>
		<th align="center">UR%</th>
		#foreach( $date in $validityDateList )
			<th align="center" width="55">$date</th>
		#end
	  </tr>
	  #foreach( $row in $alocFotoRowList )
	    
		<tr bgcolor="#CCCCCC">
			<th align="left" bgcolor="#FFFFFF">$row.listedName</th>
			 
			<td align="left">Previous</td>
			#if ( $row.nomePerfilVendidoPv == $row.nomePerfilVendidoCr )
				<td align="left">$row.nomePerfilVendidoPv</td>
			#else
				<td align="left"><b><i><font color="#CC0033">$row.nomePerfilVendidoPv</font></i></b></td>
			#end
			#if ( $row.indicadorEstagioPv == $row.indicadorEstagioCr )
				<td align="center">$row.indicadorEstagioPv</td>
			#else
				<td align="center"><b><i><font color="#CC0033">$row.indicadorEstagioPv</font></i></b></td>
			#end
			#if ( $row.valorUrPv == $row.valorUrCr )
				<td align="center">$row.valorUrPv</td>
			#else
				<td align="center"><b><i><font color="#CC0033">$row.valorUrPv</font></i></b></td>
			#end    
			#foreach( $cell in $row.alocacaoFotoCellList )
				#if ( $cell.percentualAlocPv == $cell.percentualAlocCr )
					<td align="center">$cell.percentualAlocPv</td>
				#else
					<td align="center"><b><i><font color="#CC0033">$cell.percentualAlocPv</font></i></b></td>
				#end
			#end
		</tr>
	    
	  #end
	  
	  <tr>
	    <td align="left" colspan="11" height="3"></td>
	  </tr>
	  
	  #foreach( $row in $alocFotoRowList )
	  
		<tr bgcolor="#99CCFF">
			<th align="left" bgcolor="#FFFFFF">$row.listedName</th>
			
			<td align="left">Current</td>    
		   	#if ( $row.nomePerfilVendidoPv == $row.nomePerfilVendidoCr )
				<td align="left">$row.nomePerfilVendidoCr</td>
			#else
				<td align="left"><b><i><font color="#CC0033">$row.nomePerfilVendidoCr</font></i></b></td>
			#end
			#if ( $row.indicadorEstagioPv == $row.indicadorEstagioCr )
				<td align="center">$row.indicadorEstagioCr</td>
			#else
				<td align="center"><b><i><font color="#CC0033">$row.indicadorEstagioCr</font></i></b></td>
			#end
			#if ( $row.valorUrPv == $row.valorUrCr )
				<td align="center">$row.valorUrCr</td>
			#else
				<td align="center"><b><i><font color="#CC0033">$row.valorUrCr</font></i></b></td>
			#end
			#foreach( $cell in $row.alocacaoFotoCellList )
				#if ( $cell.percentualAlocPv == $cell.percentualAlocCr )
					<td align="center">$cell.percentualAlocCr</td>
				#else
					<td align="center"><b><i><font color="#CC0033">$cell.percentualAlocCr</font></i></b></td>
				#end
			#end
		</tr>
		
	  #end
    </table>
    
    <br /><br />
    <b>${unSubscribeLabel}</b><br />
	<a href="unSubscribeLink" target="_blank">${clickHereLabel}</a> ${toUnfollow}.
	
</body>

</html>