<html>


<body>
	<h3>A new MSA was created.</h3>
	
	<HR WIDTH=80% align=left>
    
    <table>
    
	    <tr>
	    	<td><b>MSA:</b><td><td>${msa.nomeMsa}</td>    
	    </tr>
	    <tr>
	    	<td><b>Author:</b><td><td>${author}</td>    
	    </tr>		
		<tr>
	    	<td><b>Customer:</b><td><td>${msa.cliente.nomeCliente}</td>    
	    </tr>
	    
     </table>
<body>


</html>