<html>
	<body>
		<p>Hi <b>${pessoa.nomePessoa}</b>, </p>
		<p>The following voucher(s) from Travel Budget(s) you follow is/are open for more than ${days} days.</p>
		
		#foreach( $orcDespesaVoucher in $orcDespesaVouchers )
			<p>&nbsp;</p>
			Travel Budget: $orcDespesaVoucher.orcDespesa.nomeOrcDespesa
			<p>&nbsp;</p>
			<table CELLSPACING="0" CELLPADDING="1" BORDER="1">
				<tr bgcolor="#CCCCCC">
					<th align="left"><b>Voucher</b></th>
					<th align="center"><b>Valor</b></th>
				</tr>
				#foreach( $voucher in $orcDespesaVoucher.vouchers )
				<tr>
					<td align="left">$voucher.numeroVoucher</td>
					<td align="left">$voucher.orcamentoDespesa.moeda.siglaMoeda ${voucher.valueFromCurrentStatus}.00</td>
				</tr>
				#end
			</table>
		#end
		<p>Thanks<br />IT</p>
		<p>This email is an automated message. Please do not reply</p>
		<hr WIDTH=80% align=left>
	</body>
</html>