<html>
    <head></head>
    <body>
        <table width="100%" cellspacing="0" cellpadding="0" border="0">
            <tbody>
                <tr>
                    <td valign="top">
                        <img width="100%" style="float:left;" src="https://citweb.cit.com.br/pms/images/email/email-header.png">
                    </td>
                </tr>
            </tbody>
        </table>
        <table width="100%" cellspacing="0" cellpadding="0" border="0">
            <tbody>
                <tr>
                    <td>
                        <img style="float:left;" src="https://citweb.cit.com.br/pms/images/email/invoice-title-header2.png">
                    </td>
                </tr>
            </tbody>
        </table>

        <h4>#br-pt</h4>
        <table align="left" width="100%" border="0" style="border-collapse: collapse; margin-top: 5px;">
            <tbody>
                <tr>
                    <p style="color: #444444; font-family: raleway, sans-serif;">Prezado <b>${nomesGestores}</b> </p>
                    <p style="color: #444444; font-family: raleway, sans-serif;">
                        O reajuste contratual estava previsto para <b>${expectedDate}</b>, pelo índice do <b>${indiceReajuste}</b>.
                    </p>

                </tr>
            </tbody>
        </table>

        <table align="center" style="margin: 0 auto; border: 1px solid black; border-collapse: collapse;">
            <thead>
                <tr style="border: 1px solid black;">
                    <td style="border: 1px solid black; padding: 3px; color: #444444; font-family: raleway, sans-serif;"><b>Codigo</b></td>
                    <td style="border: 1px solid black; padding: 3px; color: #444444; font-family: raleway, sans-serif;"><b>Ficha de Reajuste</b></td>
                    <td style="border: 1px solid black; padding: 3px; color: #444444; font-family: raleway, sans-serif;"><b>Data Prevista</b></td>
                    <td style="border: 1px solid black; padding: 3px; color: #444444; font-family: raleway, sans-serif;"><b>Status</b></td>
                </tr>
            </thead>
            <tbody>
                <tr style="border: 1px solid black;">
                    <td style="border: 1px solid black; padding: 3px; color: #444444; font-family: raleway, sans-serif;">${codigoFichaReajuste}</td>
                    <td style="border: 1px solid black; padding: 3px; color: #444444; font-family: raleway, sans-serif;">${nomeFichaReajuste}</td>
                    <td style="border: 1px solid black; padding: 3px; color: #444444; font-family: raleway, sans-serif;">${expectedDate}</td>
                    <td style="border: 1px solid black; padding: 3px; color: #444444; font-family: raleway, sans-serif;">${statusControleReajuste}</td>
                </tr>
            </tbody>
        </table>
        
        <table width="100%" align="left" border="0" style="border-collapse: collapse; text-align=justify; margin=0 auto; padding: 990px;">
            <tbody>
                <tr>
                    <p style="color: #444444; font-family: raleway, sans-serif;">
                    	A negocia&#231;&#227;o com o cliente deve ser iniciada e assim que o percentual de reajuste for aplicado, nos informar atrav&#233;s do e-mail (invoicing@ciandt.com) para que possamos atualizar no PMS.
                   	</p>
                </tr>
                <tr>
                    <p style="color: #444444; font-family: raleway, sans-serif;">Obrigado <br /> IT - PMS</p>
                </tr>
            </tbody>
        </table>
        <hr>
        <h4>#us-en</h4>
        <table align="left" border="0" style="border-collapse: collapse; margin-top: 5px;">
            <tbody>
                <tr>
                    <p style="color: #444444; font-family: raleway, sans-serif;">Dear <b>${nomesGestores}</b> </p>
                    <p style="color: #444444; font-family: raleway, sans-serif;">
                        A contractual readjustment was planned for <b>${expectedDate}</b>, regarding the <b>${indiceReajuste}</b>.
                    </p>
                </tr>
            </tbody>
        </table>

        <table align="center" style="margin: 0 auto; border: 1px solid black; border-collapse: collapse;">
            <thead>
                <tr style="border: 1px solid black;">
                    <td style="border: 1px solid black; padding: 3px; color: #444444; font-family: raleway, sans-serif;"><b>Code</b></td>
                    <td style="border: 1px solid black; padding: 3px; color: #444444; font-family: raleway, sans-serif;"><b>Adjustment Term</b></td>
                    <td style="border: 1px solid black; padding: 3px; color: #444444; font-family: raleway, sans-serif;"><b>Expected Date</b></td>
                    <td style="border: 1px solid black; padding: 3px; color: #444444; font-family: raleway, sans-serif;"><b>Status</b></td>
                </tr>
            </thead>
            <tbody>
                <tr style="border: 1px solid black;">
                    <td style="border: 1px solid black; padding: 3px; color: #444444; font-family: raleway, sans-serif;">${codigoFichaReajuste}</td>
                    <td style="border: 1px solid black; padding: 3px; color: #444444; font-family: raleway, sans-serif;">${nomeFichaReajuste}</td>
                    <td style="border: 1px solid black; padding: 3px; color: #444444; font-family: raleway, sans-serif;">${expectedDate}</td>
                    <td style="border: 1px solid black; padding: 3px; color: #444444; font-family: raleway, sans-serif;">${statusControleReajuste}</td>
                </tr>
            </tbody>
        </table>

        <table align="left" border="0" style="border-collapse: collapse; text-align=justify; margin=0 auto; padding: 990px;">
            <tbody>
                <tr>
                    <p style="color: #444444; font-family: raleway, sans-serif;">
                    	The negotiation with the client must be started as soon as the adjustment percentage is applied inform us via e-mail (invoicing@ciandt.com) so we can update the PMS.
                    </p>
                </tr>
                <tr>
                    <p style="color: #444444; font-family: raleway, sans-serif;">Thanks <br /> IT - PMS <br /> This email is an automated message. Please do not reply.</p>
                </tr>
            </tbody>
        </table>
    </body>
</html>